#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

@import "post";
@import "editPost";

.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 0.1rem solid black;
  display: flex;
  flex-wrap: wrap;

  .post-container {
    flex: 0 1 calc(100% / 3);
  }
}

.link-container {
  padding: 2rem;
}

@media only screen and (max-width: 768px) {
  .posts-list {
    .post-container {
      flex-basis: 50%;
    }
  }
}

@media only screen and (max-width: 425px) {
  .posts-list {
    .post-container {
      flex-grow: 1;
    }
  }
}
