<template>
	<div class="link-container">
		<router-link class="el-button el-button--primary"
					 tag="button"
					 to="/edit-post/new">
			Crea nuovo post
		</router-link>
	</div>
</template>

<script>
	export default {
		name: 'CreatePost'
	}
</script>

<style scoped>

</style>
