<template>
	<form @submit="handleFormSubmit" class="edit-post">
		<el-input type="text" v-model="title" placeholder="Titolo"></el-input>
		<el-input type="textarea" v-model="body" placeholder="Scrivi qualcosa..."></el-input>
		<el-button native-type="submit" type="primary">Pubblica</el-button>
		<el-button native-type="button" @click="gotToHome()">Annulla</el-button>
	</form>
</template>

<script>
	export default {
		name: 'EditPost',
		data() {
			return {
				title: '',
				body: '',
				userId: 1, // Hardcoded user id
				id: -1,
				editMode: false
			}
		},
		watch: {
			// Whenever the route change execute initForm method
			'$route': 'initForm'
		},
		mounted() {
			this.initForm();
		},
		methods: {
			handleFormSubmit(e) {
				e.preventDefault();
				// Emit the new post to parent (App.vue)
				this.$emit('postEdited', {
					title: this.title,
					body: this.body,
					userId: this.userId,
					id: this.id
				});
				this.$router.push('/');
			},
			initForm() {
				this.setEditMode();
				if (this.editMode) {
					// If I'm in editMode, fill the form with current post values
					const post = this.$store.getters.getPostById(this.id);
					this.title = post.title;
					this.body = post.body;
					this.userId = post.userId;
				}
			},
			setEditMode() {
				// If editMode is true, I'm modifying a post, if false is a new post
				if (this.$route.params.id !== 'new') {
					this.id = +this.$route.params.id;
					this.editMode = true;
				}
			},
			gotToHome() {
				this.$router.push('/');
			}
		}
	}
</script>

<style scoped>

</style>
