<template>
	<div class="post">
		<h2>{{title | uppercase}}</h2>
		<p>{{body}}</p>
		<p>Autore: {{userId}}</p>
		<div>
			<el-button @click="removePost()"><i class="el-icon-delete"></i> Rimuovi</el-button>
			<el-button @click="editPost()"><i class="el-icon-edit"></i> Modifica</el-button>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'Post',
		props: {
			title: String,
			body: String,
			userId: Number,
			id: Number
		},
		filters: {
			uppercase(text) {
				return text.toUpperCase();
			}
		},
		methods: {
			removePost() {
				this.$emit('removedPost', this.id);
			},
			editPost() {
				this.$emit('startEditPost', this.id);
			}
		}
	}
</script>
