<template>
	<div id="app">
		<router-view @postEdited="handleEditedPost"></router-view>
		<el-container v-loading="loading">
			<ul class="posts-list">
				<li class="post-container" v-for="post in posts" :key="post.id">
					<post @removedPost="handleRemovedPost"
						  @startEditPost="handleStartEditPost"
						  :title="post.title"
						  :body="post.body"
						  :userId="post.userId"
						  :id="post.id">
					</post>
				</li>
			</ul>
		</el-container>
	</div>
</template>

<script>
	import Post from "./components/Post";

	export default {
		name: 'App',
		computed: {
			posts() {
				return [...this.$store.state.posts].reverse();
			},
			loading() {
				return this.$store.state.loading;
			}
		},
		mounted() {
			this.init();
		},
		methods: {
			init() {
				this.$store.dispatch('fetchPosts');
			},
			handleRemovedPost(id) {
				this.$store.dispatch('removePost', id);
			},
			handleStartEditPost(id) {
				// When click on modify button, scroll to top
				window.scrollTo({top: 0, behavior: 'smooth'});
				this.$router.push({name: 'edit-post', params: {id}})
			},
			handleEditedPost(postObj) {
				let newPostObj = {
					title: postObj.title,
					body: postObj.body,
					userId: postObj.userId
				};
				// If index === -1 is a new post
				if (postObj.id === -1) {
					this.$store.dispatch('addPost', newPostObj);
				} else {
					this.$store.dispatch('editPost', {...newPostObj, id: postObj.id});
				}
			}
		},
		components: {
			Post
		}
	}
</script>

<style lang="scss">
	@import "assets/scss/app";
</style>
